<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
<style>
    .message-wrapper {
        overflow-y: scroll;
        height: calc(100vh - 155px);
        display: flex;
        flex-direction: column;
    }

    .message-item {
        box-sizing: border-box;
        border-radius: 10px;
        background-color: hsl(217, 71%, 45%);
        color: hsl(0, 0%, 100%);
    }

    .message-item-mine {
        box-sizing: border-box;
        border-radius: 10px;
        background-color: hsl(204, 71%, 39%);
        color: hsl(0, 0%, 100%);
    }
</style>

<body>
    <div id="app">
        <div class="card">
            <header class="card-header" @click="copyClientHash">
                <span class="card-header-title is-size-7 is-justify-content-center">
                    {{ clientPeerId }}
                </span>
            </header>
            <header class="card-header px-2 py-2">
                <input class="input is-normal" :disabled="destinationLock" @keyup.enter="openConnection" type="text"
                    v-model="DestinationPeerId" placeholder="Destination hash">
                <button class="button is-light ml-2" :disabled="destinationLock"
                    @click="openConnection">connect</button>
            </header>
            <div class="card-content message-wrapper">
                <div class="mb-2" v-for="(message, index) in messages" :key="index" style="display: flex;"
                    :style="message.mine ? 'align-self: flex-end; flex-direction: row-reverse;' : 'align-self: flex-start;'">
                    <img width="40" height="40" :src="'data:image/png;base64,' + message.identicon"
                        style="border-radius: 50%;align-self: flex-start;"
                        :style="message.mine ? 'margin-left: .5rem' : 'margin-right: .5rem'">
                    <div class="px-2 py-2" :class="message.mine ? 'message-item-mine' : 'message-item'"
                        style="max-width: 300px;">
                        {{ message.text }}
                    </div>
                </div>
            </div>
            <footer class="card-footer px-2 py-2">
                <input :disabled="!destinationLock" class="input is-normal" @keyup.enter="sendMessage" type="text"
                    v-model="inputMessage" placeholder="Message">
                <button :disabled="!destinationLock" class="button is-light ml-2" @click="sendMessage">send</button>
            </footer>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/identicon.js/2.3.3/pnglib.min.js"
    integrity="sha512-rfQFFi/6J+n7i6v6Eye/H4/NvxtNwKCdazDnlSS2e4vLKT7ArIJzXyexyoMxV2ph9VwIEaxAxeXtH9qRQBpV3Q=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/identicon.js/2.3.3/identicon.min.js"
    integrity="sha512-CysAtcAIap1rMa9900ATF37dJ9oxvBalujRaC6cn07hLkXeU7lC5FS7TD1NB9kyyYRRlUhqLjiQY+eS3Y/xikg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    let vue;
    document.addEventListener('DOMContentLoaded', function () {
        vue = new Vue({
            el: '#app',
            data: () => {
                return {
                    peer: null,
                    destinationLock: false,
                    clientPeerId: null,
                    DestinationPeerId: null,
                    inputMessage: null,
                    messages: [],
                    connection: null,
                }
            },
            mounted() {
                this.peer = new Peer();
                this.peer.on('open', (id) => {
                    this.clientPeerId = id;
                });
                this.peer.on('connection', (conn) => {
                    this.connection = conn;
                    this.DestinationPeerId = conn.peer;
                    this.destinationLock = true;
                    this.connection.on('data', (message) => {
                        message.identicon = new Identicon(message.peerId, 40).toString();
                        this.messages.push(message);

                    });
                });
            },
            methods: {
                copyClientHash() {
                },
                setPeerId(clientPeerId) {
                    this.clientPeerId = clientPeerId;
                },
                sendMessage() {
                    if (this.inputMessage.length > 0) {
                        let newMessage = {
                            peerId: this.clientPeerId,
                            sender: 'mehdi',
                            text: this.inputMessage,
                            date: new Date(),
                        };
                        this.connection.send(newMessage);
                        newMessage.mine = true;
                        newMessage.identicon = new Identicon(this.clientPeerId, 40).toString();
                        this.messages.push(newMessage);
                        this.inputMessage = null;
                    }
                },
                setDestinationPeerId(DestinationPeerId) {
                    this.DestinationPeerId = DestinationPeerId;
                },
                openConnection() {
                    this.connection = this.peer.connect(this.DestinationPeerId.trim());
                    this.connection.on('open', () => {
                        this.destinationLock = true;
                        // Receive messages
                        this.connection.on('data', (message) => {
                            message.identicon = new Identicon(message.peerId, 40).toString();
                            this.messages.push(message);
                        });
                    });
                },
            },
        })
    })
</script>

</html>